@model EmployeeReviewViewModel

@{
    ViewBag.Title = "Add Review";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (TempData.ContainsKey(WebConstants.GlobalExeptionError))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalExeptionError]
        </div>
    }
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="AddReview" method="post">
            <div class="mb-3">
                    <label asp-for="@Model.Review" class="form-label">Add Review To Employe </label>
                    <input asp-for="@Model.Review" class="form-control" aria-required="true" placeholder="This Employe..." />
                    <span asp-validation-for="Review" class="text-danger"></span>
                </div>

                 <div class="mb-3">
                <label asp-for="@Model.EmployeId" class="form-label">Employees</label>
                <select asp-for="@Model.EmployeId" class="form-control">
                    @foreach (var type in Model.Employees)
                    {
                        <option value="@type.Id">@type.FullName</option>
                    }
                </select>
                <span asp-validation-for="EmployeId" class="text-danger"></span>
            </div>

                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="AddReview" />
                </div>
        </form>
    </div>
</div>
