@model IEnumerable<EmployeeViewModel>

@{
    ViewBag.Title = "All Employees";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center row">

    <form class="input-group-sm">
        <a class="fs-6 btn btn-success mb-3 p-2 " asp-controller="Employee" asp-action="AddEmployee">Add Employee</a>
    </form>

    @foreach (var employee in Model)
    {
        <div class="card col-4" style="width: 20rem; ">

            <div class="card-body">

                <h5 class="card-title mt-1">@employee.FullName</h5>

            </div>

            <form class="input-group-sm" asp-controller="Employee" asp-action="RemoveEmployee" asp-route-employeeId="@employee.Id">
                <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove" />
            </form>

            <form class="input-group-sm" asp-controller="Employee" asp-action="Review" asp-route-Id="@employee.Id">
                <a class="fs-6 btn btn-success mb-3 p-2 " asp-controller="Employee" asp-action="Review" asp-route-Id="@employee.Id"    >Review</a>
            </form>

            <a class="fs-6 btn btn-success mb-3 p-2" href="/Employee/EditEmployee?id=@employee.Id" aria-required="true">Edit</a>

        </div>
    }

    <form class="input-group-sm">
        <a class="fs-6 btn btn-success mb-3 p-2 " asp-controller="Employee" asp-action="EmployeStatistic">Stat</a>
    </form>




</div>

